{
    "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties"
    ],
    "presets": [
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "chrome 68"
                    ]
//					"browsers": ["last 3 versions"]
                }
            }
        ],
        "react"
    ]
}