.colors-select {
  &__list {
    margin-top: 4px;
  }

  &:not(:first-child) {
    margin-top: 12px;
  }
}

.colors-list {
  display: flex;
  justify-content: space-between;

  &__pattern {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;

    cursor: pointer;
    transition: all .4s;

    .color-picker {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__pattern:before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border-radius: 3px;
    border: 2px solid transparent;
    transition: all .4s;
  }

  &__pattern:hover {
    transform: translateY(-5px);
  }

  &__pattern.is-selected {
    border: 2px solid #165bfb;
  }

  &__pattern.is-selected:before {
    border-color: #fff;
  }
}