.checkbox {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 12px;
  cursor: pointer;

  &__input {
    position: absolute;
    opacity: 0;
  }

  &__toggler {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: block;
    background-color: #dfe2e8;
    border-radius: 6px;
  }

  &__toggler:before {
    content: "";

    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 14px;
    height: 14px;

    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #f2f4f7;
    box-shadow: 0 1px 2px 0 rgba(33, 39, 54, 0.1), 0 2px 3px 0 rgba(33, 39, 54, 0.1);
    transition: .4s;
  }

  &__input:checked + .checkbox__toggler {
    background-color: #165bfb;
  }

  &__input:checked + .checkbox__toggler:before {
    transform: translate(14px, -50%);
  }
}