.tab {
  display: inline-block;
  cursor: pointer;
  transition: all .4s;
}

.tabs-outer > .tabs__navbar {
  & > .tab {
    width: 80px;
    padding: 12px 0;

    text-align: left;
  }

  & > .tab:hover,
  & > .tab_active {
    box-shadow: inset 0 -3px 0 0 #165bfb;
  }
}

.tabs-inner .tabs__navbar {
  .tab {
    flex-grow: 1;
    padding: 8px 0;

    text-align: center;
    background-color: #ffffff;

    &:hover {
      background-color: #dfe2e8;
    }

    &:not(:first-child) {
      border-left: 1px solid #c5cbd6;
    }

    &_active {
      background-color: #dfe2e8;
    }
  }
}